<h1><%= @author.name %></h1>
<h2>Books</h2>
<ul>
  <% @author.books.each do |book| %>
    <li>
      <%= link_to book.title, book_path(book.id) %>
    </li>
  <% end %>
  <li>
    <%= link_to "Create a book", new_author_book_path(@author.id) %>
  </li>

</ul>
